.wrapper{
    width: 100%;
    height: max-content;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.infocontainer {
  width: 100%;
  height: max-content;
  margin-top: 40px;
  /* background-color: grey; */
  display: flex;
  gap: 80px;
}

.info-photo {
  width: 50%;
  height: max-content;
  display: flex;
  justify-content: center;
  /* background-color: antiquewhite; */
  margin-top: -35px;
}

.photo-inside{
 margin-top: 10%;
 color: black;
}

.info-photo-text {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 0px;
}

.photo-slot{
    border: dotted 2px #EFC64D ;
    margin-left: auto;
    margin-right: auto;
    height:250px;
    width: 250px;
    /* background-color: #EFC64D; */
    border-radius: 50%; 
    object-fit: cover; 
}
.info-card-text {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin-right: 0px; */
}
.info-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: row;
  width: 250px;
}

.info-label {
  color: #efc64d;
  font-weight: 500;
  font-size: 0.9rem;
}

.info-value {
  color: #2d0b09; 
  display: block;
  /* word-wrap: break-word; */
  word-break: break-word;
  max-width: calc(100% /1.5);
  font-size: 14px;
  font-weight: 100;  
}
.street{
  width: max-content;
  height: fit-content;

}



@media screen and (max-width: 850px)  {
  .wrapper{
    width: 100%;
  }
  .street{
    width: max-content;
    height: fit-content;
    margin-left:30px ;
    /* margin-right: -100px; */
    /* background-color: aqua; */
  }
  
    .infocontainer {
        width: 100%;
        height: max-content;
        gap: 60px;
        display: flex;
        flex-direction:column ;
      }
      .info-photo {
        width: 100%;
        height: max-content;
        /* background-color: antiquewhite; */
        display: flex;
        justify-content: center;
      }
      .info-card {
      width: 90%;
      display: flex;
      justify-self: center;
      }
}