.cart-item{
    display: flex;
    padding: 2rem;
    margin: 2rem 2rem ;
    border: 1px solid #555;
    border-radius: 1rem;
}

.cart-item-img{
    width: 6rem
}

.cart-item-content-container{
    padding-left: 3rem;
    padding-top: 1px;

}

.cart-item-content-container h2{
    margin-left:0px;
}

.cart-item-content-container p{
    padding-top: 4px;
}

.cart-item-price{
    padding-top: 20px;
    color: #EFC64D;
}

.delete_button{
    background-color: #2D0B09;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
    cursor:pointer;
    transition: 0.3s ease;
    border: none;
}

.delete_button:hover{
    background-color:white;
    color: #EFC64D;
    font-weight: bold;
    border: 1px solid #2D0B09;
    box-shadow: 1px 1px 2px #2d0b09;
}